layout {
    pane size=1 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
            format_left   "{mode} {tabs}"
            format_space  ""
            format_right  "{command_git_branch} {datetime}"

            mode_normal "#[bg=blue,fg=black] {name} "

            tab_normal   "#[fg=#6C7086] {name} "
            tab_active   "#[fg=#FFFFFF,bold,italic] {name} "

            command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
            command_git_branch_format      "#[fg=blue] {stdout} "
            command_git_branch_interval    "10"
            command_git_branch_rendermode  "static"

            datetime        "#[fg=#DDDDDD,bold] {format} "
            datetime_format "%H:%M %d-%b-%y, %A"
            datetime_timezone "America/Sao_Paulo"
        }
    }
    pane
    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
