{{- $machineTypes := list "personal" "work" -}}
{{- $machine := promptChoiceOnce . "machine" "What is the machine type" $machineTypes -}}
{{- $email:= promptStringOnce . "email" "What is your email address for git" }}

[data]
machine = {{ $machine | quote }}
email = {{ $email | quote }}

