[core]
	editor = nvim
[user]
	name = João Vitor Sousa
	email = joaovfsousa@gmail.com
[diff]
	guitool = code
	tool = vimdiff
[alias]
  a = add
  aa = add *
  ci = commit
  cim = "!f() { git commit -m \"$*\"; }; f"
  pl = pull -f
  ps = push
  psf = push -f
  co = checkout
  cb = checkout -b
  st = status -sb
  lg = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count=30
  cm = checkout main
  cp = cherry-pick
  sf = show --name-only
  incoming = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' ..@{u})
  outgoing = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' @{u}..)
  unstage = reset HEAD --
  undo = checkout --
  rollback = reset --soft HEAD~1
  pom = push origin main -u
  rbi = "!r() { git rebase -i HEAD~$* ; }; r"
  rb = rebase
[init]
	defaultBranch = main
[credential]
	helper = store
[pull]
  rebase = true
[include]
  path = ~/.workgitconfig
